<%= form_for(@forum_comment) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
<div class="field">
  <%= f.text_area :body, placeholder: "Compose new comment..." %>
</div>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.hidden_field :forum_id, value: params[:id] %>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>
