<li id="forum_comment-<%= forum_comment.id %>">
<span class="user"><%= link_to forum_comment.user.name, forum_comment.user %></span>
<span class="content"><%= forum_comment.body %></span>
<span class="timestamp">
  Posted <%= time_ago_in_words(forum_comment.created_at) %> ago.
  <% if logged_in? && current_user.admin? %>
    <%= link_to "delete", forum_comment, method: :delete, data: { confirm: "You sure?" } %>
  <% end %>
</span>
</li>

